# Node dependencies
node_modules/
metaplex-program-library/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor files
.DS_Store
*.swp

# Build caches
target/
dist/
.cache/

# Anchor build: ignore all target/ except .so, idl, and types
**/target/*
!**/target/deploy/*.so
!**/target/idl/*
!**/target/types/*

# Environment files
.env
.env.*
*.local

# Coverage
coverage/

# VSCode
.vscode/
